@import "./utils/variables";
@import "./utils/general";
@import "./layouts/header";
@import "./components/btn";
@import "./layouts/hero";
@import "./layouts/studio-title";
@import "./layouts/section-comand";
@import "./layouts/section-comands";
@import "./layouts/section-clients";
@import "./layouts/footer";
@import "./components/btn-footer";
@import "./layouts/section-btn";
@import "./layouts/portfolio";
@import "./layouts/modal";
@import "./components/menu-header";

.logo-main {
    color: #2196F3;
    text-decoration: none;
    font-family: Raleway, sans-serif; 
}

.logo {
    font-family: Raleway, sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
}












