.my-btn {
    display: inline-block;
    min-width: 136px;
    color: $primary-white-color;
    background-color: #2196F3;  
    font-family: inherit;
    font-family: Roboto;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87em;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;

     &:focus {
    color: #2196F3;
     }
}