.page {

    font-family: "Roboto", sans-serif;
     }
ul, 
a {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
    text-decoration-line: none;
}
// *,
// *::after,
// *::before {
//     box-sizing: inherit;
//     outline: 2px solid red;
// }
// .container-studio {
//     margin-top: 0;
//     margin-bottom: 0;
//     width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;    
//     margin-left: auto;
//     margin-right: auto;
//     }

.container-studio {
       margin-top: 0;
       margin-bottom: 0;
       width: 1200px;
       padding-left: 15px;
       padding-right: 15px;    
       margin-left: auto;
       margin-right: auto;
       
 @media screen and (min-width: 480px) {
         width: 480px;
     }
 @media screen and (min-width: 768px) {
         width: 768px;
    }
    
 @media screen and (min-width: 1200px) {
         width: 1200px;
    }
 }  
 img {
     display: block;
     max-width: 100%;
     height: auto;
 }