
.hero {
    @media screen and (max-width: 767px) {
     max-width: 480px;
        height: 400px;
        padding-top: 118px;
    padding-bottom: 118px;
     }
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #963232;
    &-title {
        color: #FFFFFF;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        @media screen and (max-width: 767px) {
            font-size: 26px;
            line-height: 1.61em;
            }
        line-height: 1.36em;
        text-align: center;
        letter-spacing: 0.06em;
        margin-top: 0;
        margin-bottom: 30px;
        left: 452px;
        font-family: Roboto, sans-serif;
    }
}