
.studio-title {
    padding-top: 60px;
    padding-bottom: 60px;
}
.feauture-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    width: 100%;
    
}
.section-title {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    
}
.text {
    color: #757575;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    // margin-top: 0;
    // margin-bottom: 0;
    // padding-bottom: 0;
}

.title {
    padding-inline-start: 0;
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     }
     .item {
        width: 100%;
        @media screen and (min-width: 768px) {
         width: calc((100% - 30px) / 2);
         margin-right: 0;
        }
    
    }
}
// .title .item {
//     // width: 270px; 
//     margin-right: 30px;
//      &:nth-last-child(-n + 1) {
//         margin-right: 0;
//     }
// }
